@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Azeret Mono", monospace;
}

p {
  color: #0d1321;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
}

h4 {
  color: #0d1321;
  font-size: 32px;
  font-weight: 800;
}

h5 {
  color: #0d1321b2;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.header_section {
  width: 100%;
}

.my_resume {
  width: 80%;
  margin: 40px auto 35px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my_resume > h3 {
  color: #0d1321;
  font-size: 28px;
  font-weight: 800;
}

button {
  color: #0d1321;
  font-size: 20px;
  font-weight: 600;
  padding: 17px 24px;
  border: 1px solid #0d1321;
  border-radius: 8px;
  opacity: 0.8;
  cursor: pointer;
}

.banner {
  width: 100%;
  min-height: 650px;
  background-image: url("../assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  width: 80%;
  text-align: center;
  padding: 40px;
}

.title > h2 {
  color: #0d1321;
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  margin-bottom: 24px;
}

#contact_btn {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  padding: 21px 24px;
  background-color: #0d1321;
  border: none;
  border-radius: 8px;
  margin-top: 32px;
}

/* ------ Main Section -------- */

.main_section {
  width: 90%;
  margin: 90px auto;
  padding: 80px 95px;
  background-color: rgba(13, 19, 33, 0.02);
  border-radius: 10px;
}

.webDev_title > h4 {
  margin-bottom: 24px;
}

.webDev_title {
  text-align: center;
  margin-bottom: 50px;
}

.service-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
  margin-bottom: 50px;
  background-color: #f9f5f5;
  padding: 50px;
  border-radius: 10px;
}

.service-1 > div > h5 {
  margin-bottom: 16px;
}

.service-1 > div > p {
  margin-bottom: 32px;
}

.inspirational_section {
  width: 90%;
  margin: 90px auto;
  padding: 80px 95px;
  background-color: rgba(13, 19, 33, 0.02);
  border-radius: 10px;
}

.video {
  border: 1px solid rgba(13, 19, 33, 0.2);
  padding: 32px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
}

.video > iframe {
  border-radius: 10px;
}

.current_target_section {
  background-color: rgba(13, 19, 33, 0.02);
  width: 90%;
  margin: 0 auto;
  padding: 80px 95px;
  border-radius: 10px;
}

.target_title {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.target_title > h4 {
  margin-bottom: 24px;
}

.skills_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
  gap: 24px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 40px;
}

.skill > img {
  margin-bottom: 24px;
}

.skill > span {
  margin-bottom: 8px;
  color: #0d1321;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
}

.skill > p {
  margin-bottom: 24px;
}

.skill > a {
  color: #0d1321;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

#skill_1 {
  background-color: #ff4c1e0d;
  border-radius: 10px;
}
#skill_2 {
  background-color: #004ce80d;
  border-radius: 10px;
}
#skill_3 {
  background-color: #ffdf000d;
  border-radius: 10px;
}
